.dashboard-container {
    display: flex;
    gap: 20px;
    background-color: #f8f9fa;
  }
  
  .sidebar-container {
    position:fixed  ; 
    width: 12%;
    height: 100vh;
    background-color: #f8f9fa; 
    transition: width 0.3s ease-in-out;
    z-index: auto; 
  }
  
  .navbar-right i, .navbar-right a {
    margin-left: 20px;
    font-size: 18px;
    color: #333;
  }
  
  .navbar-right a {
    text-decoration: none;
  }
  
  .dashboard-content {
    flex: 1;
    padding: 28px;
    margin-left: 11%; 
    transition: margin-left 0.3s ease-in-out;
  }
  
  .cardcontainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 20px 0;
  }
  
  .dashboard-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
    width: 250px;
    height: 150px;
    margin: 10px;
  }
  
  .dashboard-card:hover {
    transform: translateY(-5px);
  }
  
  .icon-container {
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-title {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  .card-subtitle {
    color: #888;
    font-size: 14px;
  }





  